<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Development One Zero</title>
    <link rel="stylesheet" href="index.css" type="text/css">
</head>
<body>
    <header>
        <h1>Junior Project</h1>
    </header>
    <section>
        <div>
            <img class="woman-smile" src="woman_smile.jpg" width="50%"/>
        </div>
        <div>
            <h2>Olá!</h2>
            <h3> Decidi criar essa interface para ficar mais amigavél com o usuário :)</h3>
            <h3>Meu desafio era:</h3>
            <ul>
                <li>Criar um crud com Koa.js</li>
                <li>Testes unitários em mocha e chai</li>
                <li>Como bônus criei uma visualização em html e css</li>
            </ul>
        </div>
    </section>
    <footer>
        <p>&copy;AlineGaldino</p>
    </footer>
    </body>
</body>
</html>